#Header {
	position: relative;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: -170px;
	width: 800px;
	height: 426px;
	text-align: center;
}
.Background {
	position: relative;
	z-index: 1;
	background: rgba(217, 4, 41, 0.4);
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	width: auto;
	height: 258px;
}
#Header {
 #Circle {
 position: absolute;
 left: 220px;
 top: 35px;
 width: 360px;
 height: 360px;
 z-index: 2;
 margin-left: auto;
 margin-right: auto;
}
#CircleText {
	z-index: 2;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 0px;
	width: 360px;
	height: 360px;
	z-index: 3;
	text-align: center;
	font-family: "montserratbold";
	font-size: 36px;
	text-transform: uppercase;
}
}
p {
 &.title1, &.title2 {
 margin-left: -1px;
 text-align: center;
 position: absolute;
 margin-top: 90px;
 margin-bottom: 0px;
 top: 1px;
 width: 360px;
 height: 50px;
 line-height: 30px;
 text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
}
.title1:first-line {
	font-size: 40px;
	line-height: 38px;
}
p.title2 {
	margin-top: 170px;
	font-size: 32px;
	color: #FA5202;
}
.title2:first-line {
	font-size: 60px;
	line-height: 40px;
}
p.desc {
	margin-top: 258px;
	font-family: "montserratregular";
	font-size: 10px;
	line-height: 15px;
	text-transform: none;
}
