$primary-orange:   #F26C4F;
$primary-dark:     #464646;
$primary-grey:	   #8F8F8F;


@mixin custom-font{font-family: "montserratregular";}
@mixin bold-custom-font{font-family: "montserratbold";}
.h-title1{
  @include bold-custom-font;
  text-transform:uppercase;
  font-size: 42px;
  line-height: 31px;
  color: $primary-dark;}
.h-title2{
  @extend .h-title1;
  font-size: 36px;
  line-height: 30px;
  color: $primary-dark;}
.h-title3{
  @extend .h-title1;
  font-size: 54px;
  line-height: 42px;
  color: $primary-orange;}
.h-title4{
	@extend .h-title3;
	font-size: 35px;
  	line-height: 40px;}
.h-titledesc{
	@include custom-font;
	font-size: 10px;
  	line-height: 15px;
	color: $primary-dark;}
.b-title{
  @include custom-font;
  font-size: 16px;
  line-height: 25px;
  color:$primary-dark;
  text-transform:uppercase;}
.b-title-desc{
  @include custom-font;
  font-size: 12px;
  line-height: 21px;
  color:$primary-grey;}
.b-heading{@extend .b-title; color:$primary-orange;}
.b-heading-desc{@extend b-title-desc;}
