!!!
%html
  %head
    %link{:href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Protofolio Page
    :css
      @import url("fonts/stylesheet.css");
      body {margin: 0; font-size: 13px; line-height: 1.231; height: 1000px;width:auto;}
      html {overflow-y: scroll;}
  /body Start    
  %body
    #nav1
      %a{:href => "#RecentWork"} 1
      %a{:href => "#Blog"} 2
    #Background
    #Background2
    #Header
      %img{:height => "426", :src => "../../Website/images/illustrate_03.jpg", :width => "800"}/
      #Circle
        %img{:height => "661", :src => "../../Website/Robin.png", :width => "674"}/
        #CircleText
          %h1 g-designer
          %h2 programmer
          %h3 &
          %h4 style blogger
          %p
            Lorem ipsum dolor sit amet
            %br/
            consectetur adipiscing elit.
    %section#boxes
      / #RecentWork Start
      #RecentWork
        .title
          %h1 Recent Work
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
        / Section.boxes Start
        %section.boxes
          .hightlightable
            %img{:height => "574", :src => "Thumbnail.png", :width => "574"}/
            %h1 Stadium Generale 2012
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail2.png", :width => "574"}/
            %h1 Timeline Freebies
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail.png", :width => "574"}/
            %h1 Extra1
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail2.png", :width => "574"}/
            %h1 Extra2
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail.png", :width => "574"}/
            %h1 Extra3
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail2.png", :width => "574"}/
            %h1 Extra4
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
        / Section.boxes End
      / #RecentWork End
      #Blog
        .title
          %h1 Blog
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
        %section.boxes
          .hightlightable
            %img{:height => "574", :src => "Thumbnail.png", :width => "574"}/
            %h1 Stadium Generale 2012
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail2.png", :width => "574"}/
            %h1 Timeline Freebies
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail.png", :width => "574"}/
            %h1 Extra1
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail2.png", :width => "574"}/
            %h1 Extra2
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail.png", :width => "574"}/
            %h1 Extra3
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..
          .hightlightable
            %img{:height => "574", :src => "Thumbnail2.png", :width => "574"}/
            %h1 Extra4
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie laoreet quam, vitae vulputate mauris fringilla vitae. Maecenas ut scelerisque nisl. Duis sed justo libero, nec molestie quam..