@-webkit-keyframes highlight {
  /* line 15, ../sass/mixin.scss */
  0% {
    border-left-color: red; }

  /* line 16, ../sass/mixin.scss */
  100% {
    border-left-color: white; } }

@-moz-keyframes highlight {
  /* line 19, ../sass/mixin.scss */
  0% {
    border-left-color: red; }

  /* line 20, ../sass/mixin.scss */
  100% {
    border-left-color: white; } }

/* line 12, ../sass/Slider.scss */
.Slider {
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  top: auto;
  margin-top: auto;
  bottom: 0px;
  margin-bottom: 0px;
  background-color: #FA100F;
  width: auto;
  height: 40px;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color: #FF5200; }
  /* line 26, ../sass/Slider.scss */
  .Slider:target {
    height: 400px; }
  /* line 28, ../sass/Slider.scss */
  .Slider .elements {
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    opacity: 1;
    width: inherit;
    height: inherit; }
